.chart {
  width: 69%;
  height: 400px;
}

/* Simple responsivenss example */
@media (max-width: 700px) {
  .chart {
    width: 96%;
  }
}

.form-popup {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 15px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #ffcc33;
}