@import url('https://fonts.googleapis.com/css?family=Baloo|Nunito&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
  background: rgb(235, 235, 235);
}
.blurrMask{
  filter: blur(2px);
}

.mainContainer{
  /* background: rgb(235, 235, 235); */
  background: #edeff2;
}
.mainTopBar{
  background: #ffcc33;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}
.mainLogoHolder{
  display: flex;
  align-items: center;
}
.mainLogo{
  max-width: 35px;
}
.mainLogoHolder span{
  font-size: 20px;
  margin-left: 7px;
}
.mainHolder{
  display: flex;
}
.mainMenuBar{
  max-width: 250px;
  width: 100%;
  /* border-right: 1px solid #ffcc33; */
  min-height: calc(100vh - 45px);
  background: #f7f7f7;
}
.mainContent{
  padding: 0px 20px 50px 20px;
  width: 100%;
}
.mainRightControls{
  display: flex;
}
.mainRightControlsItem{
  padding: 13px 10px 10px 10px;
  transition: .3s;
}
.mainIcon{
  width: 20px;
  height: 20px;
}
.main_logout:hover{
  color: rgb(219, 50, 50);
  cursor: pointer;
}
.main_icon:hover{
  cursor: pointer;
  color: #7c7c7c;
}

.mainHeader{
  font-size: 23px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 3px;
}
.mainHeader::after{
  content: "";
  display: block;
  margin-top: 5px;
  border-bottom: 3px solid #ffcc33;
}
.displayNone{
  display: none;
}